  <%= form_with(model: user, local: true) do |form| %>
    <div class="p-3 p-lg-5 border">
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :fname, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.text_field :fname, id: :user_fname, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :lname, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.text_field :lname, id: :user_lname, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :username, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.text_field :username, id: :user_username, class:"form-control" %>
          </div>
        </div>
      </div>

        <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :password, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.password_field :password, id: :user_password, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :password_confirmation, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.password_field :password_confirmation, id: :user_password_confirmation, class:"form-control" %>
          </div>
        </div>
      </div>
     
     <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :email, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.text_field :email, id: :user_email, class:"form-control" %>
          </div>
        </div>
      </div>


      

     

      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :phone, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.text_field :phone, id: :user_phone, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :add1, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.text_area :add1, id: :user_add1, cols: "30", rows: "5", class:"form-control" %>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="form-group row">
          <div class="col-md-6">
            <%= form.label :active, class: "text-black" %>
          </div>
          <div class="col-md-6">
            <%= form.check_box :active, id: :user_active %>
          </div>
        </div>
      </div>
     

      <div class="actions">
        <div class="form-group row">
          <div class="col-lg-6 offset-3">
            <%= form.submit 'Register', :class =>"btn btn-primary btn-lg btn-block" %>
          </div>        
        </div>
      </div>

    </div>
  <% end %>