<p id="notice"><%= notice %></p>

<h1>Ships</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Add1</th>
      <th>Add2</th>
      <th>Phone</th>
      <th>Country</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ships.each do |ship| %>
      <tr>
        <td><%= ship.fname %></td>
        <td><%= ship.lname %></td>
        <td><%= ship.add1 %></td>
        <td><%= ship.add2 %></td>
        <td><%= ship.phone %></td>
        <td><%= ship.country.name %></td>
        <td><%= ship.state.name %></td>
        <td><%= link_to 'Show', ship %></td>
        <td><%= link_to 'Edit', edit_ship_path(ship) %></td>
        <td><%= link_to 'Destroy', ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ship', new_ship_path %>
